/* Color Switch */

/* Headlines */
.headline {
	font-weight: 700;

	// 60px
	&-xxl {
		font-size: clamp(2.25rem, 5vw, 3.75rem);
	}

	// 56px
	&-xl {
		font-size: clamp(2rem, 5vw, 3.5rem);
	}

	// 48px
	&-lg {
		font-size: clamp(1.5rem, 5vw, 3rem);
	}

	// 40px
	&-md {
		font-size: clamp(1.15rem, 5vw, 2.5rem);
	}

	// 32px
	&-sm {
		font-size: clamp(1rem, 5vw, 2rem);
	}

	// 28px
	&-xs {
		font-size: clamp(1rem, 5vw, 1.75rem);
	}
}

/* Background color switches */
.bg {
	&-white {
		background-color: $white !important;
	}

	&-light-grey {
		background-color: $light-grey;
	}
}

/* Title, Stats, Numbers, etc... */
.text {
	&-white {
		color: $white;
	}

	&-black {
		color: $black;
	}

	&-xxl {
		// 24px
		font-size: 1.5rem;
		font-size: clamp(1rem, 5vw, 1.5rem);
	}

	&-xl {
		// 20px
		font-size: clamp(1rem, 5vw, 1.25rem);
	}

	&-lg {
		// 18px
		font-size: clamp(1rem, 5vw, 1.125rem);
	}

	&-md {
		// 16px
		font-size: 1rem;
	}

	&-sm {
		// 14px
		font-size: .875rem;
	}

	&-xs {
		// 12px
		font-size: .75rem;
	}

	p {
		&:last-child {
			margin-bottom: 0;
		}
	}
}

/* Links */
.link {
	// Colors
	&-white {
		color: $white !important;
	}

	&-black {
		color: $black !important;
	}

	// Text Size
	// 24px
	&-xxl {
		font-size: 1.5rem;
		font-weight: 700;
	}

	// 20px
	&-xl {
		font-size: 1.25rem;
	}

	// 18px
	&-lg {
		font-size: 1.125rem;
	}

	// 16px
	&-md {
		font-size: 1rem;
	}

	// 14px
	&-sm {
		font-size: .875rem;
	}

	// 12px
	&-xs {
		font-size: .75rem;
	}

	&--chevron {
		display: inline-flex;
		align-items: center;
		transition: color 0.3s ease;

		&::after {
			content: "";
			display: inline-block;
			margin-left: .2em;
			border: solid currentColor;
			border-width: 0 2px 2px 0;
			padding: .2em;
			transform: rotate(-45deg);
			transition: transform .3s ease;
		}

		&:focus,
		&:hover {
			&::after {
				transform: rotate(-47deg) translateX(3px) translateY(3px);
			}
		}
	}

	// Underline
	&--underline {
		color: inherit;
		text-decoration: underline !important;

		&:hover {
			color: inherit;
			text-decoration: none !important;
		}
	}

	// No Underline
	&--no-underline {
		text-decoration: none !important;

		&:hover {
			text-decoration: underline !important;
		}
	}
}
