// -------------------------------------------------------------------------- //
//  VARIABLES                                                                 //
// -------------------------------------------------------------------------- //

// Theme Image Path
$theme-img-path: '/wp-content/themes/rlw-consulting/assets/images/';

// Primary Brand Colours
$black: #000;
$white: #fff;
$blue: blue;

// Secondary Brand Colours
$light-grey: #F0F0F4;