/*-- -------------------------- -->
<---           Logos            -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
	#logos-1896 {
		/* 60px - 120px top & bottom */
		/* 16px - 40px left & right */
		padding: clamp(3.75rem, 8vw, 7.5rem) clamp(1rem, 2vw, 2.5rem);
		background-color: #F6EDDF;

		.cs-container {
			text-align: center;
			width: 100%;
			max-width: calc(1280/16 * 1rem);
			margin: auto;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			/* 48px - 64px */
			gap: clamp(3rem, 6vw, 4rem);
		}

		.cs-title {
			font-size: calc(25/16 * 1rem);
			font-weight: 700;
			margin: 0;
		}

		.cs-logo-wrapper {
			width: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
			flex-wrap: wrap;
			gap: 1.5rem;
			align-self: stretch;
		}

		.cs-logo {
			width: 45%;
			max-width: calc(200/16 * 1rem);
			height: auto;
			margin: 0;
			mix-blend-mode: darken;
			display: block;
		}
	}
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
	#logos-1896 {
		.cs-logo {
			width: 15%;
			/* the max width becomes whatever the actual width of the image is */
			max-width: max-content;
		}
	}
}

/* Large Desktop - 1300px */
@media only screen and (min-width: 81.25rem) {
	#logos-1896 {
		.cs-logo-wrapper {
			justify-content: space-between;
		}
	}
}