/*-- -------------------------- -->
<---          Reviews           -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
	#reviews-65 {
		padding: var(--sectionPadding);

		.cs-container {
			width: 100%;
			max-width: calc(1104 / 16 * 1rem);
			margin: auto;
			display: flex;
			flex-direction: column;
			align-items: center;
			/* 48px - 64px */
			gap: clamp(3rem, 6vw, 4rem);
		}

		.cs-content {
			/* set text align to left if content needs to be left aligned */
			text-align: center;
			width: 100%;
			display: flex;
			flex-direction: column;
			/* centers content horizontally, set to flex-start to left align */
			align-items: center;
		}

		.cs-card-group {
			width: 100%;
			margin: 0;
			padding: 0;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			/* changes to a clamp at tablet */
			gap: calc(24 / 16 * 1rem);
		}

		.cs-item {
			list-style: none;
			width: 100%;
			max-width: calc(347 / 16 * 1rem);
			/* padding left & right 16px - 32px */
			padding: 0 clamp(1rem, 2.1vw, 2rem);
			/* 24px - 40px */
			padding-bottom: clamp(1.5rem, 3.3vw, 2.5rem);
			margin: 0;
			background: #fff;
			border: 1px solid var(--primaryLight);
			border-radius: calc(4 / 16 * 1rem);
			box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.05);
			/* prevent padding from adding to the height and width */
			box-sizing: border-box;
		}

		.cs-img {
			/* 20px - 24px */
			width: clamp(1.25rem, 3.2vw, 1.5rem);
			/* 14px - 16px */
			height: clamp(0.875rem, 2.1vw, 1rem);
			margin: 0 auto calc(10 / 16 * 1rem);
			display: block;
			transform: translateY(calc(-8 / 16 * 1rem));
		}

		.cs-name {
			font-size: calc(20 / 16 * 1rem);
			line-height: 1.2em;
			text-align: center;
			font-weight: 700;
			margin: 0;
			color: var(--bodyTextColor);
			display: block;
		}

		.cs-desc {
			font-size: calc(16 / 16 * 1rem);
			line-height: 1.2em;
			text-align: center;
			margin: 0 0 calc(16 / 16 * 1rem);
			color: #7d799c;
			display: block;
		}

		.cs-item-text {
			/* 14px - 16px */
			font-size: clamp(0.875rem, 2vw, 1rem);
			line-height: 1.5em;
			max-width: calc(280 / 16 * 1rem);
			margin: auto;
			color: var(--bodyTextColor);
		}

		.cs-button-solid {
			font-size: calc(16 / 16 * 1rem);
			/* 46px - 56px */
			line-height: clamp(2.875rem, 5.5vw, 3.5rem);
			text-decoration: none;
			font-weight: 700;
			text-align: center;
			margin: 0;
			color: #fff;
			min-width: calc(150 / 16 * 1rem);
			padding: 0 calc(24 / 16 * 1rem);
			background-color: var(--primary);
			border-radius: calc(4 / 16 * 1rem);
			display: inline-block;
			position: relative;
			z-index: 1;
			/* prevents padding from adding to the width */
			box-sizing: border-box;

			&:before {
				content: "";
				position: absolute;
				height: 100%;
				width: 0%;
				background: #000;
				opacity: 1;
				top: 0;
				left: 0;
				z-index: -1;
				border-radius: calc(4 / 16 * 1rem);
				transition: width 0.3s;
			}

			&:hover {
				&:before {
					width: 100%;
				}
			}
		}
	}
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
	#reviews-65 {
		.cs-card-group {
			flex-direction: row;
			justify-content: center;
			align-items: stretch;
			flex-wrap: wrap;
			/* 16px - 20px */
			column-gap: clamp(1rem, 1.5vw, 1.25rem);
			row-gap: calc(46 / 16 * 1rem);
		}

		.cs-item {
			width: clamp(31.5%, 30vw, 32.3%);
		}
	}
}