/*-- -------------------------- -->
<---            Blog            -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
	#blog-985 {
		padding: var(--sectionPadding);

		.cs-container {
			width: 100%;
			/* changes to 1280px at desktop */
			max-width: calc(584 / 16 * 1rem);
			margin: auto;
			display: flex;
			flex-direction: column;
			align-items: center;
			/* 48px - 64px */
			gap: clamp(3rem, 6vw, 4rem);
		}

		.cs-content {
			/* set text align to left if content needs to be left aligned */
			text-align: center;
			width: 100%;
			display: flex;
			flex-direction: column;
			/* centers content horizontally, set to flex-start to left align */
			align-items: center;
		}

		.cs-title {
			margin-bottom: calc(32 / 16 * 1rem);
			max-width: 20ch;
		}

		.cs-button-solid {
			font-size: calc(16 / 16 * 1rem);
			/* 46px - 56px */
			line-height: clamp(2.875em, 5.5vw, 3.5em);
			text-decoration: none;
			font-weight: 700;
			text-align: center;
			margin: 0;
			color: #fff;
			min-width: calc(150 / 16 * 1rem);
			padding: 0 calc(32 / 16 * 1rem);
			background-color: var(--primary);
			display: inline-block;
			position: relative;
			z-index: 1;
			/* prevents padding from adding to the width */
			box-sizing: border-box;

			&:before {
				content: "";
				position: absolute;
				height: 100%;
				width: 0%;
				background: #000;
				opacity: 1;
				top: 0;
				left: 0;
				z-index: -1;
				transition: width 0.3s;
			}

			&:hover {
				&:before {
					width: 100%;
				}
			}
		}

		.cs-button-solid {
			/* prevents flexbox from squishing it */
			flex: none;
		}

		.cs-card-group {
			width: 100%;
			margin: 0;
			padding: 0;
			display: flex;
			flex-direction: column;
			/* 16px - 20px */
			gap: clamp(1rem, 2vw, 1.25rem);
			position: relative;
		}

		.cs-item {
			list-style: none;
			width: 100%;
			display: flex;
			flex-direction: column;
			justify-content: flex-end;
			align-items: center;
			position: relative;

			&:hover {
				cursor: pointer;

				.cs-info {
					&:before {
						opacity: 1;
						background-color: var(--primary);
					}
				}

				.cs-picture {
					img {
						transform: scale(1.15);
					}
				}

				.cs-date {
					color: #fff;
				}

				.cs-icon {
					filter: brightness(150%);
				}

				.cs-link {
					color: #fff;
				}
			}
		}

		.cs-picture {
			width: 100%;
			height: calc(480 / 16 * 1rem);
			/* removed at tablet */
			aspect-ratio: calc(328/480);
			/* clips img tag from overflowing it on hover */
			overflow: hidden;
			display: block;
			position: relative;
			z-index: 1;

			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
				/* makes sure the top of the image is at the top of the parent, heads won't get cut off this way */
				object-position: top;
				position: absolute;
				top: 0;
				left: 0;
				z-index: -1;
				transition: transform 0.9s;
			}
		}

		.cs-info {
			width: 83%;
			max-width: calc(420 / 16 * 1rem);
			/* 16px - 24px */
			padding: clamp(1rem, 2vw, 1.5rem);
			/* prevents padding from affecting the height and width */
			box-sizing: border-box;
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			position: absolute;
			bottom: 0;
			right: 0;
			z-index: 10;

			&:before {
				/* background-color */
				content: "";
				width: 100%;
				height: 100%;
				background: #1a1a1a;
				opacity: 0.8;
				position: absolute;
				display: block;
				top: 0;
				left: 0;
				z-index: -1;
				transition:
					background-color 0.3s,
					opacity 0.3s;
			}
		}

		.cs-date {
			font-size: calc(16 / 16 * 1rem);
			line-height: 1.2em;
			font-weight: 700;
			margin: 0 0 calc(20 / 16 * 1rem) 0;
			color: #bababa;
			display: flex;
			justify-content: flex-start;
			align-items: center;
			gap: calc(8 / 16 * 1rem);
			transition: color 0.3s;
		}

		.cs-icon {
			width: calc(20 / 16 * 1rem);
			height: auto;
			transition: filter 0.3s;
		}

		.cs-h3 {
			font-size: calc(20 / 16 * 1rem);
			line-height: 1.2em;
			font-weight: 700;
			margin: 0 0 calc(12 / 16 * 1rem) 0;
			color: #fff;
			display: block;
		}

		.cs-desc {
			font-size: calc(16 / 16 * 1rem);
			line-height: 1.5em;
			margin: 0 0 calc(20 / 16 * 1rem) 0;
			color: #f7f7f7;
			display: block;
		}

		.cs-link {
			font-size: calc(16 / 16 * 1rem);
			line-height: 1.2em;
			font-weight: 700;
			text-decoration: none;
			width: auto;
			margin: 0;
			color: var(--primary);
			display: inline-block;
			position: relative;
			transition: color 0.3s;

			&:hover {
				color: #fff;
			}

			&:before {
				/* underline */
				content: "";
				width: 100%;
				height: 1px;
				background: currentColor;
				opacity: 1;
				position: absolute;
				display: block;
				bottom: 0;
				left: 0;
				transition: background-color 0.3s;
			}
		}
	}
}

/* Tablet - 550px */
@media only screen and (min-width: 34.375rem) {
	#blog-985 {
		.cs-content {
			text-align: left;
			flex-direction: row;
			justify-content: space-between;
			align-items: flex-end;
			gap: calc(48 / 16 * 1rem);
		}

		.cs-title {
			margin: 0;
		}

		.cs-picture {
			/* remove the aspect ratio so the height can be squished */
			aspect-ratio: initial;
		}
	}
}

/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
	#blog-985 {
		.cs-container {
			max-width: calc(1280 / 16 * 1rem);
		}

		.cs-card-group {
			flex-direction: row;
		}
	}
}