// Variables //
// ------------------------------------------------------ //
@import "inc/variables";
@import "inc/scaffolding";

//Blocks//
// ------------------------------------------------------ //
@import "blocks/block-288";

//Partials//
// ------------------------------------------------------ //
@import "partials/header";
@import "partials/footer";

// Pages //
// ------------------------------------------------------ //
@import "pages/home";

// Custom //
// ------------------------------------------------------ //
@import "inc/custom";