// Variables //
// ------------------------------------------------------ //
@import "inc/variables";
@import "inc/scaffolding";
@import "inc/core";

//Blocks//
// ------------------------------------------------------ //
@import "blocks/block-65";
@import "blocks/block-288";
@import "blocks/block-985";
@import "blocks/block-1666";
@import "blocks/block-1896";
@import "blocks/block-2278";

//Partials//
// ------------------------------------------------------ //
@import "partials/header";
@import "partials/footer";

// Pages //
// ------------------------------------------------------ //
@import "pages/home";

// Custom //
// ------------------------------------------------------ //
@import "inc/custom";